<table border="1">
    <thead>
        <th>Offer URL</th>
        <th>Car name</th>
        <th>Price</th>
        <th>Dealer name</th>
        <th>Collected date</th>
        <th>Car sold date</th>
    </thead>
    <tbody>
        {% for offer_id, car_data in data['all_cars'].items() %}
        <tr>
            <td> {{ car_data['offer_link'] }} </td>
            <td> {{ car_data['car_name'] }} </td>
            <td> {{ car_data['offer_price'] }} </td>
            <td> {{ car_data['dealer_name'] }} </td>
            <td> {{ car_data['collected_data'] }} </td>
            {% if offer_id in data['sold_cars'] %}
            <td> {{ data['sold_date'] }} </td> 
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>