<!DOCTYPE html>
<html lang="ang">
    <head>
        <title>Cars</title>
    </head>
    <body>
        <table border="1">
            <thead>
                <th>Car name</th>
                <th>Total car price</th>
            </thead>
            <tbody>
                {% for car_name, car_price in data.items() %}
                <tr>
                    <td>{{ car_name }}</td>
                    <td>{{ car_price }} PLN</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>